:root {
/*Primary*/
    --lightRed: hsl(0, 100%, 67%);
    --orangeyYellow: hsl(39, 100%, 56%);
    --greenTeal: hsl(166, 100%, 37%);
    --cobaltBlue: hsl(234, 85%, 45%);
/*Gradients*/
    --lightSlateBlue: hsl(252, 100%, 67%); /*background*/
    --lightRoyalBlue: hsl(241, 81%, 54%); /*background*/
    --violetBlue: hsla(256, 72%, 46%, 1); /*circle*/
    --persianBlue: hsla(241, 72%, 46%, 0); /*circle*/
/*Neutral*/
    --white: hsl(0, 0%, 100%);
    --paleBlue: hsl(221, 100%, 96%);
    --lightLavender: hsl(241, 100%, 89%);
    --darkGrayBlue: hsl(224, 30%, 27%);
/*others*/
    font-size: 18px;
    font-family: 'Hanken Grotesk', sans-serif;
}

section{
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    box-shadow: 1px 1px 5px;
    border-radius: 15px;
    width:70%;
    margin: auto;
    padding: 0px;
}

.circle{
    border-radius: 90%;
    width: 70%;
    margin: auto;
    padding: 1px;
    background-image: linear-gradient(to bottom, var(--violetBlue), var(--persianBlue));
    text-align: center;
}

.boxScore{
    background-image: linear-gradient(to bottom, var(--lightSlateBlue), var(--lightRoyalBlue));
    width: 45%;
    border-radius: 15px;
    margin:0;
    padding: 15px;
    text-align: center;
}

p{
    font-size: 14px;
}

.boxSummary{
    width: 45%;
    padding-bottom: 0;
    padding-left: 10px;
}

.item{
    font-size: 15px;
}

button{
    margin: 10px;
}

footer{
    margin-top: 10px;
}